<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../maps/partials/head') %>
    <title>Featured Maps | FNBR Hub</title>
    <link rel="stylesheet" href="/assets/css/admin/featured.css">
</head>
<body>
    dd
</body>
</html>