<div class="admin-header">
    <div class="container">
        <div class="header-container">
            <div class="heading blue">
                <div class="heading-inner">
                    <h1>FNBR Panel</h1>
                </div>
            </div>
            <div class="nav-links">
                <a href="/admin"><i class="fas fa-home"></i></a>
                <a onclick="openAddModal()"><i class="fas fa-plus"></i> Add Map</a>
                <a href="/admin/maps"><i class="fas fa-images"></i> Maps</a>
                <a href="/admin/submissions"><i class="fas fa-stream"></i> Map Submissions</a>
                <a href="/admin/creators"><i class="fas fa-star"></i> Creators</a>
                <a href="/admin/featured"><i class="fas fa-landmark"></i> Featured Maps</a>
            </div>
        </div>
    </div>
</div>