<div class="header">
    <div class="main-nav">
        <div class="container">
            <div class="flex">
                <div class="logo">FNBR MAPS</div>
                <div class="nav-links">
                    <a href="/" id="home" class="nav-link">Home</a>
                    <a href="/maps/newest" id="newest" class="nav-link">Newest</a>
                    <a href="/maps/popular" id="popular" class="nav-link">Popular</a>
                    <a href="/maps/featured" id="featured" class="nav-link">Featured</a>
                    <a href="/maps/random" id="random" class="nav-link">Random</a>
                    <a href="/maps/submit" class="nav-link nav-btn">
                        <span class="material-icons">
                            send
                        </span>
                        Submit Map
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="type-nav">

    </div>
</div>
<script>
    $(document).ready(function() {
        const home = document.getElementById('home');
        const newest = document.getElementById('newest');
        const popular = document.getElementById('popular');
        const featured = document.getElementById('featured');
        const random = document.getElementById('random');

        const deathrun = document.getElementById('deathrun');
        const zonewars = document.getElementById('zone-wars');
        const escape = document.getElementById('escape');
        const prophunt = document.getElementById('prop-hunt');
        const boxfights = document.getElementById('box-fights');
        const training = document.getElementById('training');
        const remake = document.getElementById('remake');
        const adventure = document.getElementById('adventure');
        const gungame = document.getElementById('gun-game');
        const parkour = document.getElementById('parkour');
        const onevone = document.getElementById('1v1');
        const races = document.getElementById('races');

        const url = window.location.href;
        if(url.includes('/maps/newest')) {
            newest.classList.add('active');
        } else if(url.includes('/maps/popular')) {
            popular.classList.add('active');
        } else if(url.includes('/maps/featured')) {
            featured.classList.add('active');
        } else if(url.includes('/maps/random')) {
            random.classList.add('active');
        } else if(url.includes('/maps/deathrun')) {
            deathrun.classList.remove('map-type');
            deathrun.classList.add('active-type');
        } else if(url.includes('/maps/zone-wars')) {
            zonewars.classList.remove('map-type');
            zonewars.classList.add('active-type');
        } else if(url.includes('/maps/escape')) {
            escape.classList.remove('map-type');
            escape.classList.add('active-type');
        } else if(url.includes('/maps/prop-hunt')) {
            prophunt.classList.remove('map-type');
            prophunt.classList.add('active-type');
        } else if(url.includes('/maps/box-fights')) {
            boxfights.classList.remove('map-type');
            boxfights.classList.add('active-type');
        } else if(url.includes('/maps/training')) {
            training.classList.remove('map-type');
            training.classList.add('active-type');
        } else if(url.includes('/maps/remake')) {
            remake.classList.remove('map-type');
            remake.classList.add('active-type');
        } else if(url.includes('/maps/adventure')) {
            adventure.classList.remove('map-type');
            adventure.classList.add('active-type');
        } else if(url.includes('/maps/gun-game')) {
            gungame.classList.remove('map-type');
            gungame.classList.add('active-type');
        } else if(url.includes('/maps/parkour')) {
            parkour.classList.remove('map-type');
            parkour.classList.add('active-type');
        } else if(url.includes('/maps/1v1')) {
            onevone.classList.remove('map-type');
            onevone.classList.add('active-type');
        } else if(url.includes('/maps/races')) {
            races.classList.remove('map-type');
            races.classList.add('active-type');
        } else {
            home.classList.add('active');
        }
    });
</script>
