<div class="header">
    <div class="main-nav">
        <div class="container">
        <div class="flex">
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/logo.png" width="130">    
                </a>
            </div>
            <div class="nav-links">
                <a href="/" id="home" class="nav-link"><i class="fas fa-home"></i> Home</a>
                <a href="/maps/newest" id="newest" class="nav-link"><i class="fas fa-leaf"></i> Newest</a>
                <a href="/maps/random" id="random" class="nav-link"><i class="fas fa-random"></i> Random</a>
                <a href="/maps/submit" class="nav-link nav-btn">
                    <span class="material-icons">
                        send
                    </span>
                    Submit Map
                </a>
            </div>
            <div onclick="openNav()" class="menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        </div>
    </div>
    <div class="type-nav">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/maps/deathrun" id="deathrun" class="map-type"><i class="fas fa-skull"></i> Deathrun</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/zone-wars" id="zone-wars" class="map-type"><i class="fas fa-location-arrow"></i> Zone Wars</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/box-fights" id="box-fights" class="map-type"><i class="fas fa-box-open"></i>Box Fights</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/puzzle" id="puzzle" class="map-type"><i class="fas fa-puzzle-piece"></i>Puzzle</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/mini-game" id="mini-game" class="map-type"><i class="fas fa-gamepad"></i>Mini Game</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/races" id="races" class="map-type"><i class="fas fa-flag-checkered"></i>Races</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/1v1" id="1v1" class="map-type"><i class="fas fa-user-friends"></i>1v1</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/remake" id="remake" class="map-type"><i class="fas fa-history"></i>Remake</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/escape" id="escape" class="map-type"><i class="fas fa-sign-out-alt"></i>Escape</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/hide-n-seek" id="hide-n-seek" class="map-type"><i class="fas fa-eye-slash"></i>Hide N Seek</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/parkour" id="parkour" class="map-type"><i class="fas fa-running"></i>Parkour</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/adventure" id="adventure" class="map-type"><i class="fas fa-map-signs"></i>Adventure</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/roleplay" id="roleplay" class="map-type"><i class="fas fa-hat-wizard"></i>Roleplay</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/edit-courses" id="edit-courses" class="map-type"><i class="fas fa-map"></i>Edit Courses</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/horror" id="horror" class="map-type"><i class="fas fa-ghost"></i>Horror</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/gun-game" id="gun-game" class="map-type"><i class="fas fa-crosshairs"></i>Gun Game</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/dropper" id="dropper" class="map-type"><i class="fas fa-arrow-down"></i>Dropper</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/music" id="music" class="map-type"><i class="fas fa-music"></i>Music</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/ffa" id="ffa" class="map-type"><i class="fas fa-users"></i>FFA</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/maze" id="maze" class="map-type"><i class="fas fa-compass"></i>Maze</a>
                </div>
                <div class="swiper-slide">
                    <a href="/maps/snd" id="snd" class="map-type"><i class="fas fa-bomb"></i>SND</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mobile-nav" class="mobile-nav">
    <a href="/">Home</a>
    <a href="/maps/newest">Newest</a>
    <a href="/maps/popular">Popular</a>
    <a href="/maps/featured">Featured</a>
    <a href="/maps/random">Random</a>
    <a href="">Submit Map</a>
</div>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 22,
      spaceBetween: 15,
      freeMode: true,
      breakpoints: {
        960: {
            slidesPerView: 3,
            spaceBetween: 15
        },
        1280: {
            slidesPerView: 8,
            spaceBetween: 15
        },
        1920: {
            slidesPerView: 13,
            spaceBetween: 15
        },
        2560: {
            slidesPerView: 18,
            spaceBetween: 15
        }
      }
    });
</script>

<script src="/assets/js/nav.js"></script>
<script>
    $(document).ready(function() {
        const home = document.getElementById('home');
        const newest = document.getElementById('newest');
        const popular = document.getElementById('popular');
        const featured = document.getElementById('featured');
        const random = document.getElementById('random');

        const deathrun = document.getElementById('deathrun');
        const zonewars = document.getElementById('zone-wars');
        const prophunt = document.getElementById('prop-hunt');
        const boxfights = document.getElementById('box-fights');
        const puzzle = document.getElementById('puzzle');
        const minigame = document.getElementById('mini-game');
        const races = document.getElementById('races');
        const onevone = document.getElementById('1v1');
        const remake = document.getElementById('remake');
        const escape = document.getElementById('escape');
        const hidenseek = document.getElementById('hide-n-seek');
        const parkour = document.getElementById('parkour');
        const adventure = document.getElementById('adventure');
        const roleplay = document.getElementById('roleplay');
        const editcourses = document.getElementById('edit-courses');
        const horror = document.getElementById('horror');
        const gungame = document.getElementById('gun-game');
        const dropper = document.getElementById('dropper');
        const music = document.getElementById('music');
        const ffa = document.getElementById('ffa');
        const maze = document.getElementById('maze');
        const snd = document.getElementById('snd');

        const url = window.location.href;
        if(url.includes('/maps/newest')) {
            newest.classList.add('active');
        } else if(url.includes('/maps/popular')) {
            popular.classList.add('active');
        } else if(url.includes('/maps/featured')) {
            featured.classList.add('active');
        } else if(url.includes('/maps/random')) {
            random.classList.add('active');
        } else if(url.includes('/maps/deathrun')) {
            deathrun.classList.remove('map-type');
            deathrun.classList.add('active-type');
        } else if(url.includes('/maps/zone-wars')) {
            zonewars.classList.remove('map-type');
            zonewars.classList.add('active-type');
        } else if(url.includes('/maps/prop-hunt')) {
            prophunt.classList.remove('map-type');
            prophunt.classList.add('active-type');
        } else if(url.includes('/maps/box-fights')) {
            boxfights.classList.remove('map-type');
            boxfights.classList.add('active-type');
        } else if(url.includes('/maps/puzzle')) {
            puzzle.classList.remove('map-type');
            puzzle.classList.add('active-type');
        } else if(url.includes('/maps/mini-game')) {
            minigame.classList.remove('map-type');
            minigame.classList.add('active-type');
        } else if(url.includes('/maps/1v1')) {
            onevone.classList.remove('map-type');
            onevone.classList.add('active-type');
        } else if(url.includes('/maps/races')) {
            races.classList.remove('map-type');
            races.classList.add('active-type');
        } else if(url.includes('/maps/1v1')) {
            onevone.classList.remove('map-type');
            onevone.classList.add('active-type');
        } else if(url.includes('/maps/remake')) {
            remake.classList.remove('map-type');
            remake.classList.add('active-type');
        } else if(url.includes('/maps/escape')) {
            escape.classList.remove('map-type');
            escape.classList.add('active-type');
        } else if(url.includes('/maps/hide-n-seek')) {
            hidenseek.classList.remove('map-type');
            hidenseek.classList.add('active-type');
        } else if(url.includes('/maps/parkour')) {
            parkour.classList.remove('map-type');
            parkour.classList.add('active-type');
        } else if(url.includes('/maps/adventure')) {
            adventure.classList.remove('map-type');
            adventure.classList.add('active-type');
        } else if(url.includes('/maps/roleplay')) {
            roleplay.classList.remove('map-type');
            roleplay.classList.add('active-type');
        } else if(url.includes('/maps/edit-courses')) {
            editcourses.classList.remove('map-type');
            editcourses.classList.add('active-type');
        } else if(url.includes('/maps/horror')) {
            horror.classList.remove('map-type');
            horror.classList.add('active-type');
        } else if(url.includes('/maps/gun-game')) {
            gungame.classList.remove('map-type');
            gungame.classList.add('active-type');
        } else if(url.includes('/maps/dropper')) {
            dropper.classList.remove('map-type');
            dropper.classList.add('active-type');
        } else if(url.includes('/maps/music')) {
            music.classList.remove('map-type');
            music.classList.add('active-type');
        } else if(url.includes('/maps/ffa')) {
            ffa.classList.remove('map-type');
            ffa.classList.add('active-type');
        } else if(url.includes('/maps/maze')) {
            maze.classList.remove('map-type');
            maze.classList.add('active-type');
        } else if(url.includes('/maps/snd')) {
            snd.classList.remove('map-type');
            snd.classList.add('active-type');
        } else {
            home.classList.add('active');
        }
    });
</script>