<!-- ADD -->
<div class="modal" id="addModal">
    <div class="modal-content">
        <h1>Add Map</h1>
        <form action="/maps/admin/add" method="POST" name="addMap" enctype="multipart/form-data" onsubmit="return mapValidation()">
            <div class="input-group">
                <input type="text" onkeyup="validateName()" name="name" id="name" placeholder="Map Name*" value="<% typeof name != 'undefined' ? name : ''%>">
            </div> 
            <div class="input-group">
                <input type="text" onkeyup="validateCode()" name="code" id="code" placeholder="Map Code*" value="<% typeof code != 'undefined' ? code : ''%>">
            </div>
            <div class="input-group" id="selectGroup">
                <select class="select" name="type" onkeyup="validateType()">
                    <option disabled selected value="maptype">Map Type*</option>
                    <option value="Deathrun">Deathrun</option>
                    <option value="Zone Wars">Zone Wars</option>
                    <option value="Prop Hunt">Prop Hunt</option>
                    <option value="Box Fights">Box Fights</option>
                    <option value="Races">Races</option>
                    <option value="1v1">1v1</option>
                    <option value="Remake">Remake</option>
                    <option value="Escape">Escape</option>
                    <option value="Hide N Seek">Hide N Seek</option>
                    <option value="Parkour">Parkour</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Roleplay">Roleplay</option>
                    <option value="Edit Courses">Edit Courses</option>
                    <option value="Horror">Horror</option>
                    <option value="Gun Game">Gun Game</option>
                    <option value="Dropper">Dropper</option>
                    <option value="Music">Music</option>
                    <option value="FFA">FFA</option>
                    <option value="Maze">Maze</option>
                    <option value="SND">SND</option>
                </select>
            </div>
            <div class="input-group">
                <input type="text" onkeyup="validateCreator()" name="creator" id="creator" placeholder="Map Creator*" value="<% typeof creator != 'undefined' ? creator : ''%>">
            </div>
            <div class="input-group">
                <input type="text" onkeyup="validateDescription()" name="description" id="description" placeholder="Description" value="<% typeof description != 'undefined' ? description : ''%>">
            </div>
            <div class="input-group">
                <input type="text" onkeyup="validateYoutubeLink()" name="youtubeLink" id="youtubeLink" placeholder="YouTube Link" value="<% typeof youtubeLink != 'undefined' ? youtubeLink : ''%>">
            </div>
            <div class="drop-grid">
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Image #1*</span>
                    <input type="file" name="image1" class="drop-zone__input">
                </div>    
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Image #2</span>
                    <input type="file" name="image2" class="drop-zone__input">
                </div>    
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Image #3</span>
                    <input type="file" name="image3" class="drop-zone__input">
                </div>    
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Image #4</span>
                    <input type="file" name="image4" class="drop-zone__input">
                </div>    
            </div>
            
            <button type="submit" class="add">
                <i class="fas fa-plus"></i>
                Add
            </button>
            <button type="button" class="cancel" onclick="closeAddModal()">Cancel</button>
        </form>
    </div>
</div>

<!-- APPROVE -->
<div class="modal" id="approveModal">
    <div class="modal-content">
        <h1>Approve Map</h1>
        <p>Are you sure you want to approve "Forbidden City" Map by "ShrideFN"?</p>
        <button type="submit" class="approve">
            <i class="fas fa-check"></i> 
            Approve
        </button>
        <button class="cancel" onclick="closeApproveModal()">Cancel</button>
    </div>
</div>

<!-- DENY -->
<div class="modal" id="denyModal">
    <div class="modal-content">
        <h1>Deny Map</h1>
        <p>Are you sure you want to deny "Forbidden City" Map by "ShrideFN"?</p>
        <button type="submit" class="deny">
            <i class="fas fa-times"></i> 
            Deny
        </button>
        <button class="cancel" onclick="closeDenyModal()">Cancel</button>
    </div>
</div>