<!-- ADD -->
<div class="modal" id="addModal">
    <div class="modal-content">
        <h1>Add Map</h1>
        <form action="">
            <input type="text" placeholder="Map Name*">
            <input type="text" placeholder="Map Code*">
            <input type="text" placeholder="Map Type*">
            <input type="text" placeholder="Map Creator*">
            <input type="text" placeholder="YouTube Link">
            <button type="submit" class="add">
                <i class="fas fa-plus"></i>
                Add
            </button>
            <button class="cancel">Cancel</button>
        </form>
    </div>
</div>

<!-- EDIT -->
<div class="modal" id="editModal">
    <div class="modal-content">
        <h1>Edit Map</h1>
        <form action="">
            <input type="text" placeholder="Map Name*">
            <input type="text" placeholder="Map Code*">
            <input type="text" placeholder="Map Type*">
            <input type="text" placeholder="Map Creator*">
            <input type="text" placeholder="YouTube Link">
            <button type="submit" class="edit">
                <i class="fas fa-save"></i>
                Save
            </button>
            <button class="cancel">Cancel</button>
        </form>
    </div>
</div>

<!-- REMOVE -->
<div class="modal" id="removeModal">
    <div class="modal-content">
        <h1>Remove Map</h1>
        <p>Are you sure you want to remove "Forbidden City" Map by "ShrideFN"?</p>
        <button type="submit" class="deny">
            <i class="fas fa-times"></i> 
            Remove
        </button>
        <button class="cancel">Cancel</button>
    </div>
</div>

<!-- APPROVE -->
<div class="modal" id="approveModal">
    <div class="modal-content">
        <h1>Approve Map</h1>
        <p>Are you sure you want to approve "Forbidden City" Map by "ShrideFN"?</p>
        <button type="submit" class="approve">
            <i class="fas fa-check"></i> 
            Approve
        </button>
        <button class="cancel">Cancel</button>
    </div>
</div>

<!-- DENY -->
<div class="modal" id="denyModal">
    <div class="modal-content">
        <h1>Deny Map</h1>
        <p>Are you sure you want to deny "Forbidden City" Map by "ShrideFN"?</p>
        <button type="submit" class="deny">
            <i class="fas fa-times"></i> 
            Deny
        </button>
        <button class="cancel">Cancel</button>
    </div>
</div>

<script src="/assets/js/modal.js"></script>