/* ANNOUNCEMENT BAR */
.announcement {
    display: none;
    width: 100%;
    height: 150px;
    background: #202020;
    border-radius: 15px;
    margin: 15px 0 30px 0;
}

/* SEARCH BAR */

.search {
    margin-bottom: 15px;
}

.search .input-field {
    width: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    background: #252525;
    box-sizing: border-box;
}

.input-field i {
    margin-right: 5px;
    color: grey;
}

.search input {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
}

/* FEATURED MAPS SECTION */

.featured-maps {
    margin-bottom: 15px;
}

.featured {
    width: 100%;
    background: #252525;
    padding: 25px;
    border-radius: 15px;
    box-sizing: border-box;
}

.flex-featured {
    display: flex;
    justify-content: space-between;
}

.featured-map {
    width: 32%;
    border-radius: 15px;
}

.featured-wrapper {
    width: 100%;
    height: 100%;
}

.featured-map img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}

/* MAPS SECTION */
.grid {
    display: grid;
    grid-template-areas: 'map map map sidebar';
    gap: 15px;
}

.maps {
    grid-area: map;
}

.title {
    font-family: 'Luckiest Guy', cursive;
    transform: skew(-10deg);
    font-size: 48px;
    margin-bottom: 15px;
}

.item-wrapper {
    width: 100%;
    height: 100%;
}

.maps img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.map-item h1, .featured-maps h1 {
    font-family: 'Luckiest Guy', cursive;
    transform: skew(-10deg);
    font-size: 36px;
}

.map-item h5 {
    opacity: 0.9;
}

@media (max-width: 767px){
    .sidebar {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .map-item h1 {
        font-size: 48px;
    }

    .map-item h5 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .title {
        font-size: 48px;
    }

    .search-bar input {
        font-size: 36px;
    }

    .search-bar .title {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .sidebar {
        display: block;
    }

    .map-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15px;
    }

    .map-item h5 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .search-bar .title {
        font-size: 48px;
        text-align: center;
    }
}