body {
    background: white;
    color: black;
}

a {
    color: black;
}

/* ANNOUNCEMENT BAR */
.announcement {
    display: none;
    width: 100%;
    height: 150px;
    background: #202020;
    border-radius: 15px;
    margin: 15px 0 30px 0;
}

/* SEARCH BAR */

.search .input-field {
    width: 100%;
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    background: #252525;
    box-sizing: border-box;
}

.input-field i {
    margin-right: 5px;
    color: grey;
}

.search input {
    width: 600px;
    background: none;
    border: none;
    font-size: 16px;
    color: white;
}

/* FEATURED MAPS SECTION */

.featured-maps {
    margin: 30px 0;
}

.featured {
    width: 100%;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    border-radius: 15px;
    box-sizing: border-box;
}

.featured-wrapper {
    width: 100%;
    height: 100%;
}

.featured-map img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}

/* MAPS SECTION */
.maps {
    width: 100%;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    border-radius: 15px;
    box-sizing: border-box;
}

.title {
    font-family: 'Luckiest Guy', cursive;
    transform: skew(-10deg);
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 15px;
}

.item-wrapper {
    width: 100%;
    height: 100%;
}

.map-grid img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.map-item h1, .featured-maps h1 {
    font-family: 'Luckiest Guy', cursive;
    transform: skew(-10deg);
    font-weight: 500;
    font-size: 36px;
}

.map-item h5 {
    opacity: 0.9;
}

@media (min-width: 768px) and (max-width: 991px){

    .flex-featured {
        display: flex;
        flex-direction: column;
    }

    .featured .title, .maps .title {
        font-size: 72px;
    }

    .featured-map h1, .map-item h1 {
        margin-top: 10px;
        font-size: 60px;
    }

    .featured-map h5, .map-item h5 {
        font-size: 36px;
    }

    .featured-map, .map-item {
        margin-bottom: 30px;
    }

    .map-item img {
        width: 100%;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .flex-featured {
        display: flex;
        justify-content: space-between;
    }

    .featured-map {
        width: 32%;
        border-radius: 15px;
    }

    .map-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    .map-item h5, .featured-map h5 {
        font-size: 16px;
        margin-bottom: 20px;
    }
}