body {
    background: white;
    color: black;
}

#map {
    margin-top: 30px;
}

.title {
    font-family: 'Luckiest Guy', cursive;
    transform: skew(-10deg);
    font-weight: 500;
    font-size: 40px;
}

h5 {
    font-size: 20px;
    opacity: 0.9;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

.type-btn {
    padding: 6px 15px 6px 15px; 
    border-radius: 20px;
    font-size: 14px;
    margin-right: 10px;
    color: white;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}

#map .flex {
    display: flex;
    justify-content: space-between;
}

.main-img {
    width: 100%;
    margin-bottom: 10px;
}

.main-img img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}

.yt-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sub-imgs img {
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}

.info-panel {
    background: white;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}

.code-btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    box-sizing: border-box;
}

.code-btn:hover {
    cursor: pointer;
}

.creator-panel {
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}

.creator-panel .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.creator-panel h1 {
    font-size: 24px;
}

.creator-panel img {
    border-radius: 50%;
    margin-right: 15px;
}

.similar-maps {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    width: 100%;
    background: white;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}

.similar-maps .flex {
    display: flex;
    justify-content: space-between;
}

.similar-maps .title {
    font-family: 'Luckiest Guy', cursive;
    transform: skew(-10deg);
    font-weight: 500;
}

.map-item img{
    border-radius: 10px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}

.map-info {
    width: 90%;
    padding: 10px;
    background: #202020;
    border-radius: 10px;
    text-align: center;
    margin-left: 7px;
    margin-top: -30px;
}

.map-title {
    margin-top: 5px;
    opacity: 0.9;
}

@media (min-width: 365px) and (max-width: 991px) {
    
    #map .flex {
        flex-direction: column;
    }

    .images {
        margin-bottom: 10px;
    }

    .main-img img {
        width: 100%;
    }

    .info-panel {
        width: 100%;
        box-sizing: border-box;
    }

    .info-panel .title {
        font-size: 60px;
    }

    .info-panel h5 {
        margin-bottom: 20px;
    }

    .info-panel .type-btn {
        padding: 15px 30px 15px 30px;
        border-radius: 50px;
    }

    .code-btn {
        font-size: 60px;
    }

    .header h1 {
        font-size: 48px;
    }

    .similar-maps .title {
        font-size: 60px;
        margin-bottom: 10px;
    }

    .similar-maps .flex {
        flex-direction: column;
    }

    .map-item img {
        width: 100%;
    }
    
    .similar-maps h1 {
        font-size: 60px;
    }
}

@media (min-width: 1200px) {

    .images {
        width: 69%;
    }
    
    .map-item {
        width: 350px;
    }

    .info {
        width: 30%;
    }

}