body {
    background: white;
    color: black;
    height: 100%;
}

.maps {
    display: flex;
}

/* MAP IMAGES */
#map .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gallery-top .swiper-slide, .gallery-thumbs .swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top iframe {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}

.gallery-top img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}

.gallery-top {
    width: 100%;
}

.iframe-container {
    width: 100%;
    position: absolute;
}

.gallery-thumbs {
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.gallery-thumbs img {
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}

/* INFO */
.map-info {
    width: 100%;
    box-sizing: border-box;
    background: white;
    padding: 25px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.type-btn {
    display: inline-block;
    color: white;
    padding: 6px 20px;
    background: rgba(0, 132, 255, 0.75);
    border-radius: 50px;
    margin-top: 5px;
}

.code-btn {
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    background: rgba(0, 132, 255, 0.75);
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

.code-btn:hover {
    cursor: pointer;
}

@media (min-width: 0px) and (max-width: 767px){

    .maps {
        margin-top: 10px;
        flex-direction: column;
    }

    .images, .info {
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 1199px) {

    .maps {
        margin-top: 10px;
        flex-direction: column;
    }

    .images, .info {
        width: 100%;
    }

}

@media (min-width: 1200px) {

    .maps {
        margin-top: 30px;
        justify-content: space-between;
    }

    .images {
        width: 70%;
    }
    
    .info {
        width: 29%;
    }
    
}