body {
    background: white;
    color: black;
}

.br-news {
    margin-top: 50px;
}

.br-news .flex, .stw-news .flex{
    display: flex;
}

.news-item {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
}

.news-item img {
    width: 100%;
}

.news-content {
    padding: 10px 35px 35px 35px;
}

.br-news h1, .stw-news h1 {
    font-family: 'Luckiest Guy', cursive;
    transform: skew(-10deg);
    font-weight: 500;
    margin-bottom: 10px;
}

@media (min-width: 375px) and (max-width: 991px) {

    .br-news .flex, .stw-news .flex {
        flex-direction: column;
    }

    .news-item {
        width: 100%;
        margin-bottom: 25px;
    }

}

@media (min-width: 991px) {

    .br-news .flex, .stw-news .flex {
        justify-content: space-between;
    }

    .br-news .news-item {
        width: 49%;
    }

    .stw-news {
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .stw-news .news-item {
        width: 32%;
    }

}
