@import url(//db.onlinewebfonts.com/c/800e985f75a5a56c2f7b4be502d286de?family=Burbank+Big+Condensed);

@font-face {font-family: "Burbank Big Condensed"; src: url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.eot"); src: url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.woff") format("woff"), url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/800e985f75a5a56c2f7b4be502d286de.svg#Burbank Big Condensed") format("svg"); }

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #121212;
    color: white;
    font-family: 'Roboto', sans-serif;
}

ul, li {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

input, select, textarea, button {
    outline: none;
    border: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.primary {
    background: rgba(64, 0, 255,0.75);
}

.primary-glow:hover {
    box-shadow: 0 5px 15px rgba(64, 0, 255, 0.4);
}

.light {
    background: rgba(136, 69, 255,0.75);
}

.light-glow:hover {
    box-shadow: 0 5px 15px rgba(136, 69, 255, 0.4);
}

.dark {
    background: rgba(0, 0, 202,0.75);
}

.dark-glow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 202, 0.4);
}

.blue {
    background: rgba(0, 255, 255,0.75);
}

.blue-glow:hover {
    box-shadow: 0 5px 15px rgba(0, 255, 255, 0.4);
}

@media (max-width: 767px){
    .container {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .container {
        width: 900px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 60%;
    }
}